@model FinalProject.Models.RecipesModels

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RecipesModels</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RecipeID)

        <div class="form-group">
            @Html.LabelFor(model => model.RecipeName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecipeName)
                @Html.ValidationMessageFor(model => model.RecipeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingredients, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredients)
                @Html.ValidationMessageFor(model => model.Ingredients)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Instructions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Instructions)
                @Html.ValidationMessageFor(model => model.Instructions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Difficulty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Difficulty)
                @Html.ValidationMessageFor(model => model.Difficulty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CatID)
                @Html.ValidationMessageFor(model => model.CatID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountryID)
                @Html.ValidationMessageFor(model => model.CountryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CuisineID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CuisineID)
                @Html.ValidationMessageFor(model => model.CuisineID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiffID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiffID)
                @Html.ValidationMessageFor(model => model.DiffID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TagID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TagID)
                @Html.ValidationMessageFor(model => model.TagID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image)
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lastname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lastname)
                @Html.ValidationMessageFor(model => model.Lastname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MealCourse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MealCourse)
                @Html.ValidationMessageFor(model => model.MealCourse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeatType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeatType)
                @Html.ValidationMessageFor(model => model.MeatType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cuisine, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cuisine)
                @Html.ValidationMessageFor(model => model.Cuisine)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseID)
                @Html.ValidationMessageFor(model => model.CourseID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeatID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeatID)
                @Html.ValidationMessageFor(model => model.MeatID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateAdded, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateAdded)
                @Html.ValidationMessageFor(model => model.DateAdded)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateModified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateModified)
                @Html.ValidationMessageFor(model => model.DateModified)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
